# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

As this assignment utilizes global variables in the skeleton code, to avoid having errors in your code you can either:

1. You can place all of your code within the function definitions for all of the questions (other than import statements).
2. You can create copies of all the global variables with the copy() method and proceed as usual.

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [2]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (5.2.2)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities_nhl = cities[['Metropolitan area','NHL', 'Population (2016 est.)[8]']]
cities_nhl = cities_nhl[(cities_nhl != '—').all(axis=1)]     # drop those with —
cities_nhl = cities_nhl.drop([51])

cities_nhl['NHL'] = cities_nhl['NHL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column

cities_nhl = cities_nhl[(cities_nhl != '').all(axis=1)]       # drop empty rows

cities_nhl['NHL'] = cities_nhl['NHL'].str.split().str[-1]     # only get the last word 

cities_nhl

         Metropolitan area         NHL Population (2016 est.)[8]
0            New York City      Devils                  20153634
1              Los Angeles       Ducks                  13310447
2   San Francisco Bay Area      Sharks                   6657982
3                  Chicago  Blackhawks                   9512999
4        Dallas–Fort Worth       Stars                   7233323
5         Washington, D.C.    Capitals                   6131977
6             Philadelphia      Flyers                   6070500
7                   Boston      Bruins                   4794447
8   Minneapolis–Saint Paul        Wild                   3551036
9                   Denver   Avalanche                   2853077
10   Miami–Fort Lauderdale    Panthers                   6066387
11                 Phoenix     Coyotes                   4661537
12                 Detroit       Wings                   4297617
13                 Toronto       Leafs                   5928040
16          Tampa Bay Area   Lightning                   3032171
17              Pittsburgh    Penguins                   2342299
22               St. Louis       Blues                   2807002
26               Nashville   Predators                   1865298
29                 Buffalo      Sabres                   1132804
30                Montreal   Canadiens                   4098927
31               Vancouver     Canucks                   2463431
34                Columbus     Jackets                   2041520
35                 Calgary      Flames                   1392609
36                  Ottawa    Senators                   1323783
37                Edmonton      Oilers                   1321426
39                Winnipeg        Jets                    778489
43               Las Vegas     Knights                   2155664
47                 Raleigh  Hurricanes                   1302946

In [4]:
nhl_df=pd.read_csv("assets/nhl.csv")
nhl_df_2018 = nhl_df[['team', 'W', 'L', 'year']]
nhl_df_2018 = nhl_df_2018[nhl_df_2018['year'] == 2018]
nhl_df_2018 = nhl_df_2018.drop([0,9,18,26])

nhl_df_2018['W'] = nhl_df_2018['W'].astype(int)
nhl_df_2018['L'] = nhl_df_2018['L'].astype(int)

nhl_df_2018['ratio'] = nhl_df_2018['W'] / (nhl_df_2018['W'] + nhl_df_2018['L'])

nhl_df_2018['team'] = nhl_df_2018['team'].str.split().str[-1]
nhl_df_2018['team'] = nhl_df_2018['team'].str.replace(r"\*", "", regex = True)

nhl_df_2018

          team   W   L  year     ratio
1    Lightning  54  23  2018  0.701299
2       Bruins  50  20  2018  0.714286
3        Leafs  49  26  2018  0.653333
4     Panthers  44  30  2018  0.594595
5        Wings  30  39  2018  0.434783
6    Canadiens  29  40  2018  0.420290
7     Senators  28  43  2018  0.394366
8       Sabres  25  45  2018  0.357143
10    Capitals  49  26  2018  0.653333
11    Penguins  47  29  2018  0.618421
12      Flyers  42  26  2018  0.617647
13     Jackets  45  30  2018  0.600000
14      Devils  44  29  2018  0.602740
15  Hurricanes  36  35  2018  0.507042
16   Islanders  35  37  2018  0.486111
17     Rangers  34  39  2018  0.465753
19   Predators  53  18  2018  0.746479
20        Jets  52  20  2018  0.722222
21        Wild  45  26  2018  0.633803
22   Avalanche  43  30  2018  0.589041
23       Blues  44  32  2018  0.578947
24       Stars  42  32  2018  0.567568
25  Blackhawks  33  39  2018  0.458333
27     Knights  51  24  2018  0.680000
28       Ducks  44  25  2018  0.637681
29      Sharks  45  27  2018  0.625000
30       Kings  45  29  2018  0.608108
31      Flames  37  35  2018  0.513889
32      Oilers  36  40  2018  0.473684
33     Canucks  31  40  2018  0.436620
34     Coyotes  29  41  2018  0.414286

In [5]:
merge1 = pd.merge(cities_nhl, nhl_df_2018, how = 'outer', left_on="NHL",right_on="team")

merge1.loc[28, 'Metropolitan area']= 'New York City'
merge1.loc[29, 'Metropolitan area']= 'New York City'
merge1.loc[30, 'Metropolitan area']= 'Los Angeles'

merge1.loc[28, 'NHL']= merge1.loc[28, 'team']
merge1.loc[29, 'NHL']= merge1.loc[29, 'team']
merge1.loc[30, 'NHL']= merge1.loc[30, 'team']

merge1.loc[28, 'Population (2016 est.)[8]']= merge1.loc[0, 'Population (2016 est.)[8]']
merge1.loc[29, 'Population (2016 est.)[8]']= merge1.loc[0, 'Population (2016 est.)[8]']
merge1.loc[30, 'Population (2016 est.)[8]']= merge1.loc[1, 'Population (2016 est.)[8]']

merge1 = merge1.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})

In [6]:
merge1 = merge1.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
merge1.shape

C:\Users\User\AppData\Local\Temp\ipykernel_19988\2947278933.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2947278933.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

(28, 2)

In [7]:
population_by_region = merge1['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
win_loss_by_region = merge1['ratio'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"

stats.pearsonr(population_by_region, win_loss_by_region)

PearsonRResult(statistic=0.012486162921209923, pvalue=0.9497182859911804)

In [8]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities=pd.read_html("assets/wikipedia_data.html")[1]
nhl_df=pd.read_csv("assets/nhl.csv")

def nhl_correlation(): 
    # YOUR CODE HERE
    cities_nhl = cities[['Metropolitan area','NHL', 'Population (2016 est.)[8]']]
    cities_nhl = cities_nhl[(cities_nhl != '—').all(axis=1)]     # drop those with —
    cities_nhl = cities_nhl.drop([51])

    cities_nhl['NHL'] = cities_nhl['NHL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_nhl = cities_nhl[(cities_nhl != '').all(axis=1)]       # drop empty rows
    cities_nhl['NHL'] = cities_nhl['NHL'].str.split().str[-1]     # only get the last word 
    
    nhl_df_2018 = nhl_df[['team', 'W', 'L', 'year']]
    nhl_df_2018 = nhl_df_2018[nhl_df_2018['year'] == 2018]
    nhl_df_2018 = nhl_df_2018.drop([0,9,18,26])

    nhl_df_2018['W'] = nhl_df_2018['W'].astype(int)
    nhl_df_2018['L'] = nhl_df_2018['L'].astype(int)

    nhl_df_2018['ratio'] = nhl_df_2018['W'] / (nhl_df_2018['W'] + nhl_df_2018['L'])

    nhl_df_2018['team'] = nhl_df_2018['team'].str.split().str[-1]
    nhl_df_2018['team'] = nhl_df_2018['team'].str.replace(r"\*", "", regex = True)

    merge1 = pd.merge(cities_nhl, nhl_df_2018, how = 'outer', left_on="NHL",right_on="team")

    merge1.loc[28, 'Metropolitan area']= 'New York City'
    merge1.loc[29, 'Metropolitan area']= 'New York City'
    merge1.loc[30, 'Metropolitan area']= 'Los Angeles'

    merge1.loc[28, 'NHL']= merge1.loc[28, 'team']
    merge1.loc[29, 'NHL']= merge1.loc[29, 'team']
    merge1.loc[30, 'NHL']= merge1.loc[30, 'team']

    merge1.loc[28, 'Population (2016 est.)[8]']= merge1.loc[0, 'Population (2016 est.)[8]']
    merge1.loc[29, 'Population (2016 est.)[8]']= merge1.loc[0, 'Population (2016 est.)[8]']
    merge1.loc[30, 'Population (2016 est.)[8]']= merge1.loc[1, 'Population (2016 est.)[8]']

    merge1 = merge1.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})

    merge1 = merge1.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

    population_by_region = merge1['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
    win_loss_by_region = merge1['ratio'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

nhl_correlation()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\4146737827.py:47: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4146737827.py:47: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

0.012486162921209923

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [9]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities_nba = cities[['Metropolitan area','NBA', 'Population (2016 est.)[8]']]
cities_nba = cities_nba[(cities_nba != '—').all(axis=1)]     # drop those with —
cities_nba = cities_nba.drop([51])

cities_nba['NBA'] = cities_nba['NBA'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column

cities_nba = cities_nba[(cities_nba != '').all(axis=1)]       # drop empty rows

cities_nba['NBA'] = cities_nba['NBA'].str.split().str[-1]     # only get the last word 

cities_nba

         Metropolitan area           NBA Population (2016 est.)[8]
0            New York City          Nets                  20153634
1              Los Angeles      Clippers                  13310447
2   San Francisco Bay Area      Warriors                   6657982
3                  Chicago         Bulls                   9512999
4        Dallas–Fort Worth     Mavericks                   7233323
5         Washington, D.C.       Wizards                   6131977
6             Philadelphia         76ers                   6070500
7                   Boston       Celtics                   4794447
8   Minneapolis–Saint Paul  Timberwolves                   3551036
9                   Denver       Nuggets                   2853077
10   Miami–Fort Lauderdale          Heat                   6066387
11                 Phoenix          Suns                   4661537
12                 Detroit       Pistons                   4297617
13                 Toronto       Raptors                   5928040
14                 Houston       Rockets                   6772470
15                 Atlanta         Hawks                   5789700
18               Cleveland     Cavaliers                   2055612
24               Charlotte       Hornets                   2474314
25            Indianapolis        Pacers                   2004230
27               Milwaukee         Bucks                   1572482
28             New Orleans      Pelicans                   1268883
32                 Orlando         Magic                   2441257
33                Portland       Blazers                   2424955
38          Salt Lake City          Jazz                   1186187
41             San Antonio         Spurs                   2429609
42              Sacramento         Kings                   2296418
45           Oklahoma City       Thunder                   1373211
46                 Memphis     Grizzlies                   1342842

In [10]:
nba_df=pd.read_csv("assets/nba.csv")
nba_df_2018 = nba_df[['team', 'W', 'L', 'year']]
nba_df_2018 = nba_df_2018[nba_df_2018['year'] == 2018]

nba_df_2018['W'] = nba_df_2018['W'].astype(int)
nba_df_2018['L'] = nba_df_2018['L'].astype(int)

nba_df_2018['ratio'] = nba_df_2018['W'] / (nba_df_2018['W'] + nba_df_2018['L'])

nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\(.*\)", "", regex = True)      # remove (number) from column
nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column

nba_df_2018['team'] = nba_df_2018['team'].str.split().str[-1]

nba_df_2018

            team   W   L  year     ratio
0        Raptors  59  23  2018  0.719512
1        Celtics  55  27  2018  0.670732
2          76ers  52  30  2018  0.634146
3      Cavaliers  50  32  2018  0.609756
4         Pacers  48  34  2018  0.585366
5           Heat  44  38  2018  0.536585
6          Bucks  44  38  2018  0.536585
7        Wizards  43  39  2018  0.524390
8        Pistons  39  43  2018  0.475610
9        Hornets  36  46  2018  0.439024
10        Knicks  29  53  2018  0.353659
11          Nets  28  54  2018  0.341463
12         Bulls  27  55  2018  0.329268
13         Magic  25  57  2018  0.304878
14         Hawks  24  58  2018  0.292683
15       Rockets  65  17  2018  0.792683
16      Warriors  58  24  2018  0.707317
17       Blazers  49  33  2018  0.597561
18       Thunder  48  34  2018  0.585366
19          Jazz  48  34  2018  0.585366
20      Pelicans  48  34  2018  0.585366
21         Spurs  47  35  2018  0.573171
22  Timberwolves  47  35  2018  0.573171
23       Nuggets  46  36  2018  0.560976
24      Clippers  42  40  2018  0.512195
25        Lakers  35  47  2018  0.426829
26         Kings  27  55  2018  0.329268
27     Mavericks  24  58  2018  0.292683
28     Grizzlies  22  60  2018  0.268293
29          Suns  21  61  2018  0.256098

In [11]:
merge2 = pd.merge(cities_nba, nba_df_2018, how = 'outer', left_on="NBA",right_on="team")

merge2.loc[28, 'Metropolitan area']= 'New York City'
merge2.loc[29, 'Metropolitan area']= 'Los Angeles'

merge2.loc[28, 'NBA']= merge2.loc[28, 'team']
merge2.loc[29, 'NBA']= merge2.loc[29, 'team']

merge2.loc[28, 'Population (2016 est.)[8]']= merge2.loc[0, 'Population (2016 est.)[8]']
merge2.loc[29, 'Population (2016 est.)[8]']= merge2.loc[1, 'Population (2016 est.)[8]']

merge2 = merge2.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})
merge2

,Metropolitan area,NBA,Population (2016 est.)[8],team,W,L,year,ratio
0,New York City,Nets,20153634,Nets,28,54,2018,0.341463
1,Los Angeles,Clippers,13310447,Clippers,42,40,2018,0.512195
2,San Francisco Bay Area,Warriors,6657982,Warriors,58,24,2018,0.707317
3,Chicago,Bulls,9512999,Bulls,27,55,2018,0.329268
4,Dallas–Fort Worth,Mavericks,7233323,Mavericks,24,58,2018,0.292683
5,"Washington, D.C.",Wizards,6131977,Wizards,43,39,2018,0.524390
6,Philadelphia,76ers,6070500,76ers,52,30,2018,0.634146
7,Boston,Celtics,4794447,Celtics,55,27,2018,0.670732
8,Minneapolis–Saint Paul,Timberwolves,3551036,Timberwolves,47,35,2018,0.573171
9,Denver,Nuggets,2853077,Nuggets,46,36,2018,0.560976
10,Miami–Fort Lauderdale,Heat,6066387,Heat,44,38,2018,0.536585
11,Phoenix,Suns,4661537,Suns,21,61,2018,0.256098
12,Detroit,Pistons,4297617,Pistons,39,43,2018,0.475610
13,Toronto,Raptors,5928040,Raptors,59,23,2018,0.719512
14,Houston,Rockets,6772470,Rockets,65,17,2018,0.792683
15,Atlanta,Hawks,5789700,Hawks,24,58,2018,0.292683
16,Cleveland,Cavaliers,2055612,Cavaliers,50,32,2018,0.609756
17,Charlotte,Hornets,2474314,Hornets,36,46,2018,0.439024
18,Indianapolis,Pacers,2004230,Pacers,48,34,2018,0.585366
19,Milwaukee,Bucks,1572482,Bucks,44,38,2018,0.536585
20,New Orleans,Pelicans,1268883,Pelicans,48,34,2018,0.585366
21,Orlando,Magic,2441257,Magic,25,57,2018,0.304878
22,Portland,Blazers,2424955,Blazers,49,33,2018,0.597561
23,Salt Lake City,Jazz,1186187,Jazz,48,34,2018,0.585366
24,San Antonio,Spurs,2429609,Spurs,47,35,2018,0.573171
25,Sacramento,Kings,2296418,Kings,27,55,2018,0.329268
26,Oklahoma City,Thunder,1373211,Thunder,48,34,2018,0.585366
27,Memphis,Grizzlies,1342842,Grizzlies,22,60,2018,0.268293
28,New York City,Knicks,20153634,Knicks,29,53,2018,0.353659
29,Los Angeles,Lakers,13310447,Lakers,35,47,2018,0.426829

In [12]:
merge2 = merge2.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
merge2.shape

C:\Users\User\AppData\Local\Temp\ipykernel_19988\3858375400.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\3858375400.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

(28, 2)

In [13]:
population_by_region = merge2['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
win_loss_by_region = merge2['ratio'] # pass in win/loss ratio from nba_df in the same order as cities["Metropolitan area"]

assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

stats.pearsonr(population_by_region, win_loss_by_region)

PearsonRResult(statistic=-0.17657160252844623, pvalue=0.3687474160446289)

In [14]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nba_df=pd.read_csv("assets/nba.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]

def nba_correlation():
    # YOUR CODE HERE
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities_nba = cities[['Metropolitan area','NBA', 'Population (2016 est.)[8]']]
    cities_nba = cities_nba[(cities_nba != '—').all(axis=1)]     # drop those with —
    cities_nba = cities_nba.drop([51])

    cities_nba['NBA'] = cities_nba['NBA'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_nba = cities_nba[(cities_nba != '').all(axis=1)]       # drop empty rows
    cities_nba['NBA'] = cities_nba['NBA'].str.split().str[-1]     # only get the last word 
    
    nba_df=pd.read_csv("assets/nba.csv")
    nba_df_2018 = nba_df[['team', 'W', 'L', 'year']]
    nba_df_2018 = nba_df_2018[nba_df_2018['year'] == 2018]

    nba_df_2018['W'] = nba_df_2018['W'].astype(int)
    nba_df_2018['L'] = nba_df_2018['L'].astype(int)
    nba_df_2018['ratio'] = nba_df_2018['W'] / (nba_df_2018['W'] + nba_df_2018['L'])

    nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\(.*\)", "", regex = True)      # remove (number) from column
    nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
    nba_df_2018['team'] = nba_df_2018['team'].str.split().str[-1]
    
    merge2 = pd.merge(cities_nba, nba_df_2018, how = 'outer', left_on="NBA",right_on="team")

    merge2.loc[28, 'Metropolitan area']= 'New York City'
    merge2.loc[29, 'Metropolitan area']= 'Los Angeles'

    merge2.loc[28, 'NBA']= merge2.loc[28, 'team']
    merge2.loc[29, 'NBA']= merge2.loc[29, 'team']

    merge2.loc[28, 'Population (2016 est.)[8]']= merge2.loc[0, 'Population (2016 est.)[8]']
    merge2.loc[29, 'Population (2016 est.)[8]']= merge2.loc[1, 'Population (2016 est.)[8]']

    merge2 = merge2.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})
    merge2 = merge2.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
    
    population_by_region = merge2['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
    win_loss_by_region = merge2['ratio'] # pass in win/loss ratio from nba_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

nba_correlation()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\805997942.py:44: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\805997942.py:44: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

-0.17657160252844623

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [15]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities_mlb = cities[['Metropolitan area','MLB', 'Population (2016 est.)[8]']]
cities_mlb = cities_mlb[(cities_mlb != '—').all(axis=1)]     # drop those with —
cities_mlb = cities_mlb.drop([51])

cities_mlb['MLB'] = cities_mlb['MLB'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column

cities_mlb['MLB'] = cities_mlb['MLB'].str.replace("\ Sox", "Sox", regex = True)

cities_mlb = cities_mlb[(cities_mlb != '').all(axis=1)]       # drop empty rows

cities_mlb['MLB'] = cities_mlb['MLB'].str.split().str[-1]     # only get the last word 

cities_mlb

         Metropolitan area           MLB Population (2016 est.)[8]
0            New York City          Mets                  20153634
1              Los Angeles        Angels                  13310447
2   San Francisco Bay Area     Athletics                   6657982
3                  Chicago      WhiteSox                   9512999
4        Dallas–Fort Worth       Rangers                   7233323
5         Washington, D.C.     Nationals                   6131977
6             Philadelphia      Phillies                   6070500
7                   Boston        RedSox                   4794447
8   Minneapolis–Saint Paul         Twins                   3551036
9                   Denver       Rockies                   2853077
10   Miami–Fort Lauderdale       Marlins                   6066387
11                 Phoenix  Diamondbacks                   4661537
12                 Detroit        Tigers                   4297617
13                 Toronto          Jays                   5928040
14                 Houston        Astros                   6772470
15                 Atlanta        Braves                   5789700
16          Tampa Bay Area          Rays                   3032171
17              Pittsburgh       Pirates                   2342299
18               Cleveland       Indians                   2055612
19                 Seattle      Mariners                   3798902
20              Cincinnati          Reds                   2165139
21             Kansas City        Royals                   2104509
22               St. Louis     Cardinals                   2807002
23               Baltimore       Orioles                   2798886
27               Milwaukee       Brewers                   1572482
40               San Diego        Padres                   3317749

In [16]:
mlb_df=pd.read_csv("assets/mlb.csv")
mlb_df_2018 = mlb_df[['team', 'W', 'L', 'year']]
mlb_df_2018 = mlb_df_2018[mlb_df_2018['year'] == 2018]

mlb_df_2018['W'] = mlb_df_2018['W'].astype(int)
mlb_df_2018['L'] = mlb_df_2018['L'].astype(int)

mlb_df_2018['ratio'] = mlb_df_2018['W'] / (mlb_df_2018['W'] + mlb_df_2018['L'])

mlb_df_2018['team'] = mlb_df_2018['team'].str.replace("\ Sox", "Sox", regex = True)

mlb_df_2018['team'] = mlb_df_2018['team'].str.split().str[-1]

mlb_df_2018

            team    W    L  year     ratio
0         RedSox  108   54  2018  0.666667
1        Yankees  100   62  2018  0.617284
2           Rays   90   72  2018  0.555556
3           Jays   73   89  2018  0.450617
4        Orioles   47  115  2018  0.290123
5        Indians   91   71  2018  0.561728
6          Twins   78   84  2018  0.481481
7         Tigers   64   98  2018  0.395062
8       WhiteSox   62  100  2018  0.382716
9         Royals   58  104  2018  0.358025
10        Astros  103   59  2018  0.635802
11     Athletics   97   65  2018  0.598765
12      Mariners   89   73  2018  0.549383
13        Angels   80   82  2018  0.493827
14       Rangers   67   95  2018  0.413580
15        Braves   90   72  2018  0.555556
16     Nationals   82   80  2018  0.506173
17      Phillies   80   82  2018  0.493827
18          Mets   77   85  2018  0.475309
19       Marlins   63   98  2018  0.391304
20       Brewers   96   67  2018  0.588957
21          Cubs   95   68  2018  0.582822
22     Cardinals   88   74  2018  0.543210
23       Pirates   82   79  2018  0.509317
24          Reds   67   95  2018  0.413580
25       Dodgers   92   71  2018  0.564417
26       Rockies   91   72  2018  0.558282
27  Diamondbacks   82   80  2018  0.506173
28        Giants   73   89  2018  0.450617
29        Padres   66   96  2018  0.407407

In [17]:
merge3 = pd.merge(cities_mlb, mlb_df_2018, how = 'outer', left_on="MLB",right_on="team")

merge3.loc[26, 'Metropolitan area']= 'New York City'
merge3.loc[27, 'Metropolitan area']= 'Chicago'
merge3.loc[28, 'Metropolitan area']= 'Los Angeles'
merge3.loc[29, 'Metropolitan area']= 'San Francisco Bay Area'

merge3.loc[26, 'MLB']= merge3.loc[26, 'team']
merge3.loc[27, 'MLB']= merge3.loc[27, 'team']
merge3.loc[28, 'MLB']= merge3.loc[28, 'team']
merge3.loc[29, 'MLB']= merge3.loc[29, 'team']

merge3.loc[26, 'Population (2016 est.)[8]']= merge3.loc[0, 'Population (2016 est.)[8]']
merge3.loc[27, 'Population (2016 est.)[8]']= merge3.loc[3, 'Population (2016 est.)[8]']
merge3.loc[28, 'Population (2016 est.)[8]']= merge3.loc[1, 'Population (2016 est.)[8]']
merge3.loc[29, 'Population (2016 est.)[8]']= merge3.loc[2, 'Population (2016 est.)[8]']

merge3 = merge3.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})
merge3

,Metropolitan area,MLB,Population (2016 est.)[8],team,W,L,year,ratio
0,New York City,Mets,20153634,Mets,77,85,2018,0.475309
1,Los Angeles,Angels,13310447,Angels,80,82,2018,0.493827
2,San Francisco Bay Area,Athletics,6657982,Athletics,97,65,2018,0.598765
3,Chicago,WhiteSox,9512999,WhiteSox,62,100,2018,0.382716
4,Dallas–Fort Worth,Rangers,7233323,Rangers,67,95,2018,0.413580
5,"Washington, D.C.",Nationals,6131977,Nationals,82,80,2018,0.506173
6,Philadelphia,Phillies,6070500,Phillies,80,82,2018,0.493827
7,Boston,RedSox,4794447,RedSox,108,54,2018,0.666667
8,Minneapolis–Saint Paul,Twins,3551036,Twins,78,84,2018,0.481481
9,Denver,Rockies,2853077,Rockies,91,72,2018,0.558282
10,Miami–Fort Lauderdale,Marlins,6066387,Marlins,63,98,2018,0.391304
11,Phoenix,Diamondbacks,4661537,Diamondbacks,82,80,2018,0.506173
12,Detroit,Tigers,4297617,Tigers,64,98,2018,0.395062
13,Toronto,Jays,5928040,Jays,73,89,2018,0.450617
14,Houston,Astros,6772470,Astros,103,59,2018,0.635802
15,Atlanta,Braves,5789700,Braves,90,72,2018,0.555556
16,Tampa Bay Area,Rays,3032171,Rays,90,72,2018,0.555556
17,Pittsburgh,Pirates,2342299,Pirates,82,79,2018,0.509317
18,Cleveland,Indians,2055612,Indians,91,71,2018,0.561728
19,Seattle,Mariners,3798902,Mariners,89,73,2018,0.549383
20,Cincinnati,Reds,2165139,Reds,67,95,2018,0.413580
21,Kansas City,Royals,2104509,Royals,58,104,2018,0.358025
22,St. Louis,Cardinals,2807002,Cardinals,88,74,2018,0.543210
23,Baltimore,Orioles,2798886,Orioles,47,115,2018,0.290123
24,Milwaukee,Brewers,1572482,Brewers,96,67,2018,0.588957
25,San Diego,Padres,3317749,Padres,66,96,2018,0.407407
26,New York City,Yankees,20153634,Yankees,100,62,2018,0.617284
27,Chicago,Cubs,9512999,Cubs,95,68,2018,0.582822
28,Los Angeles,Dodgers,13310447,Dodgers,92,71,2018,0.564417
29,San Francisco Bay Area,Giants,6657982,Giants,73,89,2018,0.450617

In [18]:
merge3 = merge3.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
merge3.shape

C:\Users\User\AppData\Local\Temp\ipykernel_19988\2391760014.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2391760014.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

(26, 2)

In [19]:
population_by_region = merge3['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
win_loss_by_region = merge3['ratio'] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

stats.pearsonr(population_by_region, win_loss_by_region)

PearsonRResult(statistic=0.15027698302669307, pvalue=0.46370703378875555)

In [20]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]

def mlb_correlation(): 
    # YOUR CODE HERE
    cities_mlb = cities[['Metropolitan area','MLB', 'Population (2016 est.)[8]']]
    cities_mlb = cities_mlb[(cities_mlb != '—').all(axis=1)]     # drop those with —
    cities_mlb = cities_mlb.drop([51])

    cities_mlb['MLB'] = cities_mlb['MLB'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_mlb['MLB'] = cities_mlb['MLB'].str.replace("\ Sox", "Sox", regex = True)
    cities_mlb = cities_mlb[(cities_mlb != '').all(axis=1)]       # drop empty rows
    cities_mlb['MLB'] = cities_mlb['MLB'].str.split().str[-1]     # only get the last word 
    
    mlb_df_2018 = mlb_df[['team', 'W', 'L', 'year']]
    mlb_df_2018 = mlb_df_2018[mlb_df_2018['year'] == 2018]

    mlb_df_2018['W'] = mlb_df_2018['W'].astype(int)
    mlb_df_2018['L'] = mlb_df_2018['L'].astype(int)

    mlb_df_2018['ratio'] = mlb_df_2018['W'] / (mlb_df_2018['W'] + mlb_df_2018['L'])
    mlb_df_2018['team'] = mlb_df_2018['team'].str.replace("\ Sox", "Sox", regex = True)
    mlb_df_2018['team'] = mlb_df_2018['team'].str.split().str[-1]
    
    merge3 = pd.merge(cities_mlb, mlb_df_2018, how = 'outer', left_on="MLB",right_on="team")

    merge3.loc[26, 'Metropolitan area']= 'New York City'
    merge3.loc[27, 'Metropolitan area']= 'Chicago'
    merge3.loc[28, 'Metropolitan area']= 'Los Angeles'
    merge3.loc[29, 'Metropolitan area']= 'San Francisco Bay Area'

    merge3.loc[26, 'MLB']= merge3.loc[26, 'team']
    merge3.loc[27, 'MLB']= merge3.loc[27, 'team']
    merge3.loc[28, 'MLB']= merge3.loc[28, 'team']
    merge3.loc[29, 'MLB']= merge3.loc[29, 'team']

    merge3.loc[26, 'Population (2016 est.)[8]']= merge3.loc[0, 'Population (2016 est.)[8]']
    merge3.loc[27, 'Population (2016 est.)[8]']= merge3.loc[3, 'Population (2016 est.)[8]']
    merge3.loc[28, 'Population (2016 est.)[8]']= merge3.loc[1, 'Population (2016 est.)[8]']
    merge3.loc[29, 'Population (2016 est.)[8]']= merge3.loc[2, 'Population (2016 est.)[8]']

    merge3 = merge3.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})
    
    merge3 = merge3.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
    
    population_by_region = merge3['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
    win_loss_by_region = merge3['ratio'] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

mlb_correlation()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\1155329807.py:49: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1155329807.py:49: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

0.15027698302669307

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [21]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities_nfl = cities[['Metropolitan area','NFL', 'Population (2016 est.)[8]']]

cities_nfl = cities_nfl.drop([13,51])

cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column

cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\—", "", regex = True)

cities_nfl = cities_nfl[(cities_nfl != '').all(axis=1)]       # drop empty rows

cities_nfl['NFL'] = cities_nfl['NFL'].str.split().str[-1]     # only get the last word 

cities_nfl

         Metropolitan area         NFL Population (2016 est.)[8]
0            New York City        Jets                  20153634
1              Los Angeles    Chargers                  13310447
2   San Francisco Bay Area     Raiders                   6657982
3                  Chicago       Bears                   9512999
4        Dallas–Fort Worth     Cowboys                   7233323
5         Washington, D.C.    Redskins                   6131977
6             Philadelphia      Eagles                   6070500
7                   Boston    Patriots                   4794447
8   Minneapolis–Saint Paul     Vikings                   3551036
9                   Denver     Broncos                   2853077
10   Miami–Fort Lauderdale    Dolphins                   6066387
11                 Phoenix   Cardinals                   4661537
12                 Detroit       Lions                   4297617
14                 Houston      Texans                   6772470
15                 Atlanta     Falcons                   5789700
16          Tampa Bay Area  Buccaneers                   3032171
17              Pittsburgh    Steelers                   2342299
18               Cleveland      Browns                   2055612
19                 Seattle    Seahawks                   3798902
20              Cincinnati     Bengals                   2165139
21             Kansas City      Chiefs                   2104509
23               Baltimore      Ravens                   2798886
24               Charlotte    Panthers                   2474314
25            Indianapolis       Colts                   2004230
26               Nashville      Titans                   1865298
28             New Orleans      Saints                   1268883
29                 Buffalo       Bills                   1132804
44            Jacksonville     Jaguars                   1478212
48               Green Bay     Packers                    318236

In [22]:
nfl_df=pd.read_csv("assets/nfl.csv")
nfl_df_2018 = nfl_df[['team', 'W', 'L', 'year']]
nfl_df_2018 = nfl_df_2018[nfl_df_2018['year'] == 2018]
nfl_df_2018 = nfl_df_2018.drop([0,5,10,15,20,25,30,35])

nfl_df_2018['W'] = nfl_df_2018['W'].astype(int)
nfl_df_2018['L'] = nfl_df_2018['L'].astype(int)

nfl_df_2018['ratio'] = nfl_df_2018['W'] / (nfl_df_2018['W'] + nfl_df_2018['L'])

nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\+", "", regex = True)      # remove + from column

nfl_df_2018['team'] = nfl_df_2018['team'].str.split().str[-1]

nfl_df_2018

          team   W   L  year     ratio
1     Patriots  11   5  2018  0.687500
2     Dolphins   7   9  2018  0.437500
3        Bills   6  10  2018  0.375000
4         Jets   4  12  2018  0.250000
6       Ravens  10   6  2018  0.625000
7     Steelers   9   6  2018  0.600000
8       Browns   7   8  2018  0.466667
9      Bengals   6  10  2018  0.375000
11      Texans  11   5  2018  0.687500
12       Colts  10   6  2018  0.625000
13      Titans   9   7  2018  0.562500
14     Jaguars   5  11  2018  0.312500
16      Chiefs  12   4  2018  0.750000
17    Chargers  12   4  2018  0.750000
18     Broncos   6  10  2018  0.375000
19     Raiders   4  12  2018  0.250000
21     Cowboys  10   6  2018  0.625000
22      Eagles   9   7  2018  0.562500
23    Redskins   7   9  2018  0.437500
24      Giants   5  11  2018  0.312500
26       Bears  12   4  2018  0.750000
27     Vikings   8   7  2018  0.533333
28     Packers   6   9  2018  0.400000
29       Lions   6  10  2018  0.375000
31      Saints  13   3  2018  0.812500
32    Panthers   7   9  2018  0.437500
33     Falcons   7   9  2018  0.437500
34  Buccaneers   5  11  2018  0.312500
36        Rams  13   3  2018  0.812500
37    Seahawks  10   6  2018  0.625000
38       49ers   4  12  2018  0.250000
39   Cardinals   3  13  2018  0.187500

In [26]:
merge4 = pd.merge(cities_nfl, nfl_df_2018, how = 'outer', left_on="NFL",right_on="team")

merge4.loc[29, 'Metropolitan area']= 'New York City'
merge4.loc[30, 'Metropolitan area']= 'Los Angeles'
merge4.loc[31, 'Metropolitan area']= 'San Francisco Bay Area'

merge4.loc[29, 'MLB']= merge4.loc[29, 'team']
merge4.loc[30, 'MLB']= merge4.loc[30, 'team']
merge4.loc[31, 'MLB']= merge4.loc[31, 'team']

merge4.loc[29, 'Population (2016 est.)[8]']= merge4.loc[0, 'Population (2016 est.)[8]']
merge4.loc[30, 'Population (2016 est.)[8]']= merge4.loc[1, 'Population (2016 est.)[8]']
merge4.loc[31, 'Population (2016 est.)[8]']= merge4.loc[2, 'Population (2016 est.)[8]']

merge4 = merge4.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})
merge4

,Metropolitan area,NFL,Population (2016 est.)[8],team,W,L,year,ratio,MLB
0,New York City,Jets,20153634,Jets,4,12,2018,0.250000,nan
1,Los Angeles,Chargers,13310447,Chargers,12,4,2018,0.750000,nan
2,San Francisco Bay Area,Raiders,6657982,Raiders,4,12,2018,0.250000,nan
3,Chicago,Bears,9512999,Bears,12,4,2018,0.750000,nan
4,Dallas–Fort Worth,Cowboys,7233323,Cowboys,10,6,2018,0.625000,nan
5,"Washington, D.C.",Redskins,6131977,Redskins,7,9,2018,0.437500,nan
6,Philadelphia,Eagles,6070500,Eagles,9,7,2018,0.562500,nan
7,Boston,Patriots,4794447,Patriots,11,5,2018,0.687500,nan
8,Minneapolis–Saint Paul,Vikings,3551036,Vikings,8,7,2018,0.533333,nan
9,Denver,Broncos,2853077,Broncos,6,10,2018,0.375000,nan
10,Miami–Fort Lauderdale,Dolphins,6066387,Dolphins,7,9,2018,0.437500,nan
11,Phoenix,Cardinals,4661537,Cardinals,3,13,2018,0.187500,nan
12,Detroit,Lions,4297617,Lions,6,10,2018,0.375000,nan
13,Houston,Texans,6772470,Texans,11,5,2018,0.687500,nan
14,Atlanta,Falcons,5789700,Falcons,7,9,2018,0.437500,nan
15,Tampa Bay Area,Buccaneers,3032171,Buccaneers,5,11,2018,0.312500,nan
16,Pittsburgh,Steelers,2342299,Steelers,9,6,2018,0.600000,nan
17,Cleveland,Browns,2055612,Browns,7,8,2018,0.466667,nan
18,Seattle,Seahawks,3798902,Seahawks,10,6,2018,0.625000,nan
19,Cincinnati,Bengals,2165139,Bengals,6,10,2018,0.375000,nan
20,Kansas City,Chiefs,2104509,Chiefs,12,4,2018,0.750000,nan
21,Baltimore,Ravens,2798886,Ravens,10,6,2018,0.625000,nan
22,Charlotte,Panthers,2474314,Panthers,7,9,2018,0.437500,nan
23,Indianapolis,Colts,2004230,Colts,10,6,2018,0.625000,nan
24,Nashville,Titans,1865298,Titans,9,7,2018,0.562500,nan
25,New Orleans,Saints,1268883,Saints,13,3,2018,0.812500,nan
26,Buffalo,Bills,1132804,Bills,6,10,2018,0.375000,nan
27,Jacksonville,Jaguars,1478212,Jaguars,5,11,2018,0.312500,nan
28,Green Bay,Packers,318236,Packers,6,9,2018,0.400000,nan
29,New York City,NaN,20153634,Giants,5,11,2018,0.312500,Giants
30,Los Angeles,NaN,13310447,Rams,13,3,2018,0.812500,Rams
31,San Francisco Bay Area,NaN,6657982,49ers,4,12,2018,0.250000,49ers

In [27]:
merge4 = merge4.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
merge4.shape

C:\Users\User\AppData\Local\Temp\ipykernel_19988\968119152.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\968119152.py:1: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

(29, 2)

In [28]:
population_by_region = merge4['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
win_loss_by_region = merge4['ratio'] # pass in win/loss ratio from nfl_df in the same order as cities["Metropolitan area"]

assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

stats.pearsonr(population_by_region, win_loss_by_region)

PearsonRResult(statistic=0.004922112149349409, pvalue=0.979783345836369)

In [29]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]

def nfl_correlation(): 
    # YOUR CODE HERE
    cities_nfl = cities[['Metropolitan area','NFL', 'Population (2016 est.)[8]']]
    cities_nfl = cities_nfl.drop([13,51])
    cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\—", "", regex = True)
    cities_nfl = cities_nfl[(cities_nfl != '').all(axis=1)]       # drop empty rows
    cities_nfl['NFL'] = cities_nfl['NFL'].str.split().str[-1]     # only get the last word 
    
    nfl_df_2018 = nfl_df[['team', 'W', 'L', 'year']]
    nfl_df_2018 = nfl_df_2018[nfl_df_2018['year'] == 2018]
    nfl_df_2018 = nfl_df_2018.drop([0,5,10,15,20,25,30,35])

    nfl_df_2018['W'] = nfl_df_2018['W'].astype(int)
    nfl_df_2018['L'] = nfl_df_2018['L'].astype(int)
    nfl_df_2018['ratio'] = nfl_df_2018['W'] / (nfl_df_2018['W'] + nfl_df_2018['L'])

    nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
    nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\+", "", regex = True)      # remove + from column
    nfl_df_2018['team'] = nfl_df_2018['team'].str.split().str[-1]
    
    merge4 = pd.merge(cities_nfl, nfl_df_2018, how = 'outer', left_on="NFL",right_on="team")

    merge4.loc[29, 'Metropolitan area']= 'New York City'
    merge4.loc[30, 'Metropolitan area']= 'Los Angeles'
    merge4.loc[31, 'Metropolitan area']= 'San Francisco Bay Area'

    merge4.loc[29, 'MLB']= merge4.loc[29, 'team']
    merge4.loc[30, 'MLB']= merge4.loc[30, 'team']
    merge4.loc[31, 'MLB']= merge4.loc[31, 'team']

    merge4.loc[29, 'Population (2016 est.)[8]']= merge4.loc[0, 'Population (2016 est.)[8]']
    merge4.loc[30, 'Population (2016 est.)[8]']= merge4.loc[1, 'Population (2016 est.)[8]']
    merge4.loc[31, 'Population (2016 est.)[8]']= merge4.loc[2, 'Population (2016 est.)[8]']

    merge4 = merge4.astype({'Metropolitan area': str, 'Population (2016 est.)[8]': int, 'ratio': float})
    merge4 = merge4.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
    
    
    population_by_region = merge4['Population (2016 est.)[8]'] # pass in metropolitan area population from cities
    win_loss_by_region = merge4['ratio'] # pass in win/loss ratio from nfl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

nfl_correlation()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\1683486092.py:45: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1683486092.py:45: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'Population (2016 est.)[8]': np.mean, 'ratio': np.mean})

0.004922112149349409

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

In [36]:
def nhl_q5():
    cities_nhl = cities[['Metropolitan area','NHL']]
    cities_nhl = cities_nhl[(cities_nhl != '—').all(axis=1)]     # drop those with —
    cities_nhl = cities_nhl.drop([51])

    cities_nhl['NHL'] = cities_nhl['NHL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_nhl = cities_nhl[(cities_nhl != '').all(axis=1)]       # drop empty rows
    cities_nhl['NHL'] = cities_nhl['NHL'].str.split().str[-1]     # only get the last word 
    
    nhl_df_2018 = nhl_df[['team', 'W', 'L', 'year']]
    nhl_df_2018 = nhl_df_2018[nhl_df_2018['year'] == 2018]
    nhl_df_2018 = nhl_df_2018.drop([0,9,18,26])

    nhl_df_2018['W'] = nhl_df_2018['W'].astype(int)
    nhl_df_2018['L'] = nhl_df_2018['L'].astype(int)

    nhl_df_2018['ratio'] = nhl_df_2018['W'] / (nhl_df_2018['W'] + nhl_df_2018['L'])

    nhl_df_2018['team'] = nhl_df_2018['team'].str.split().str[-1]
    nhl_df_2018['team'] = nhl_df_2018['team'].str.replace(r"\*", "", regex = True)

    merge1 = pd.merge(cities_nhl, nhl_df_2018, how = 'outer', left_on="NHL",right_on="team")

    merge1.loc[28, 'Metropolitan area']= 'New York City'
    merge1.loc[29, 'Metropolitan area']= 'New York City'
    merge1.loc[30, 'Metropolitan area']= 'Los Angeles'

    merge1.loc[28, 'NHL']= merge1.loc[28, 'team']
    merge1.loc[29, 'NHL']= merge1.loc[29, 'team']
    merge1.loc[30, 'NHL']= merge1.loc[30, 'team']


    merge1 = merge1.astype({'Metropolitan area': str, 'ratio': float})
    merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
    
    return merge1
nhl_q5()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})

                           ratio
Metropolitan area
Boston                  0.714286
Buffalo                 0.357143
Calgary                 0.513889
Chicago                 0.458333
Columbus                0.600000
Dallas–Fort Worth       0.567568
Denver                  0.589041
Detroit                 0.434783
Edmonton                0.473684
Las Vegas               0.680000
Los Angeles             0.622895
Miami–Fort Lauderdale   0.594595
Minneapolis–Saint Paul  0.633803
Montreal                0.420290
Nashville               0.746479
New York City           0.518201
Ottawa                  0.394366
Philadelphia            0.617647
Phoenix                 0.414286
Pittsburgh              0.618421
Raleigh                 0.507042
San Francisco Bay Area  0.625000
St. Louis               0.578947
Tampa Bay Area          0.701299
Toronto                 0.653333
Vancouver               0.436620
Washington, D.C.        0.653333
Winnipeg                0.722222

In [35]:
def nba_q5():
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities_nba = cities[['Metropolitan area','NBA']]
    cities_nba = cities_nba[(cities_nba != '—').all(axis=1)]     # drop those with —
    cities_nba = cities_nba.drop([51])

    cities_nba['NBA'] = cities_nba['NBA'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_nba = cities_nba[(cities_nba != '').all(axis=1)]       # drop empty rows
    cities_nba['NBA'] = cities_nba['NBA'].str.split().str[-1]     # only get the last word 
    
    nba_df=pd.read_csv("assets/nba.csv")
    nba_df_2018 = nba_df[['team', 'W', 'L', 'year']]
    nba_df_2018 = nba_df_2018[nba_df_2018['year'] == 2018]

    nba_df_2018['W'] = nba_df_2018['W'].astype(int)
    nba_df_2018['L'] = nba_df_2018['L'].astype(int)
    nba_df_2018['ratio'] = nba_df_2018['W'] / (nba_df_2018['W'] + nba_df_2018['L'])

    nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\(.*\)", "", regex = True)      # remove (number) from column
    nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
    nba_df_2018['team'] = nba_df_2018['team'].str.split().str[-1]
    
    merge2 = pd.merge(cities_nba, nba_df_2018, how = 'outer', left_on="NBA",right_on="team")

    merge2.loc[28, 'Metropolitan area']= 'New York City'
    merge2.loc[29, 'Metropolitan area']= 'Los Angeles'

    merge2.loc[28, 'NBA']= merge2.loc[28, 'team']
    merge2.loc[29, 'NBA']= merge2.loc[29, 'team']

    merge2 = merge2.astype({'Metropolitan area': str, 'ratio': float})
    merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
    return merge2

nba_q5()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})

                           ratio
Metropolitan area
Atlanta                 0.292683
Boston                  0.670732
Charlotte               0.439024
Chicago                 0.329268
Cleveland               0.609756
Dallas–Fort Worth       0.292683
Denver                  0.560976
Detroit                 0.475610
Houston                 0.792683
Indianapolis            0.585366
Los Angeles             0.469512
Memphis                 0.268293
Miami–Fort Lauderdale   0.536585
Milwaukee               0.536585
Minneapolis–Saint Paul  0.573171
New Orleans             0.585366
New York City           0.347561
Oklahoma City           0.585366
Orlando                 0.304878
Philadelphia            0.634146
Phoenix                 0.256098
Portland                0.597561
Sacramento              0.329268
Salt Lake City          0.585366
San Antonio             0.573171
San Francisco Bay Area  0.707317
Toronto                 0.719512
Washington, D.C.        0.524390

In [34]:
def mlb_q5():
    cities_mlb = cities[['Metropolitan area','MLB']]
    cities_mlb = cities_mlb[(cities_mlb != '—').all(axis=1)]     # drop those with —
    cities_mlb = cities_mlb.drop([51])

    cities_mlb['MLB'] = cities_mlb['MLB'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_mlb['MLB'] = cities_mlb['MLB'].str.replace("\ Sox", "Sox", regex = True)
    cities_mlb = cities_mlb[(cities_mlb != '').all(axis=1)]       # drop empty rows
    cities_mlb['MLB'] = cities_mlb['MLB'].str.split().str[-1]     # only get the last word 
    
    mlb_df_2018 = mlb_df[['team', 'W', 'L', 'year']]
    mlb_df_2018 = mlb_df_2018[mlb_df_2018['year'] == 2018]

    mlb_df_2018['W'] = mlb_df_2018['W'].astype(int)
    mlb_df_2018['L'] = mlb_df_2018['L'].astype(int)

    mlb_df_2018['ratio'] = mlb_df_2018['W'] / (mlb_df_2018['W'] + mlb_df_2018['L'])
    mlb_df_2018['team'] = mlb_df_2018['team'].str.replace("\ Sox", "Sox", regex = True)
    mlb_df_2018['team'] = mlb_df_2018['team'].str.split().str[-1]
    
    merge3 = pd.merge(cities_mlb, mlb_df_2018, how = 'outer', left_on="MLB",right_on="team")

    merge3.loc[26, 'Metropolitan area']= 'New York City'
    merge3.loc[27, 'Metropolitan area']= 'Chicago'
    merge3.loc[28, 'Metropolitan area']= 'Los Angeles'
    merge3.loc[29, 'Metropolitan area']= 'San Francisco Bay Area'

    merge3.loc[26, 'MLB']= merge3.loc[26, 'team']
    merge3.loc[27, 'MLB']= merge3.loc[27, 'team']
    merge3.loc[28, 'MLB']= merge3.loc[28, 'team']
    merge3.loc[29, 'MLB']= merge3.loc[29, 'team']

    merge3 = merge3.astype({'Metropolitan area': str, 'ratio': float})
    
    merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
    return merge3

mlb_q5()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})

                           ratio
Metropolitan area
Atlanta                 0.555556
Baltimore               0.290123
Boston                  0.666667
Chicago                 0.482769
Cincinnati              0.413580
Cleveland               0.561728
Dallas–Fort Worth       0.413580
Denver                  0.558282
Detroit                 0.395062
Houston                 0.635802
Kansas City             0.358025
Los Angeles             0.529122
Miami–Fort Lauderdale   0.391304
Milwaukee               0.588957
Minneapolis–Saint Paul  0.481481
New York City           0.546296
Philadelphia            0.493827
Phoenix                 0.506173
Pittsburgh              0.509317
San Diego               0.407407
San Francisco Bay Area  0.524691
Seattle                 0.549383
St. Louis               0.543210
Tampa Bay Area          0.555556
Toronto                 0.450617
Washington, D.C.        0.506173

In [33]:
def nfl_q5():
    cities_nfl = cities[['Metropolitan area','NFL']]
    cities_nfl = cities_nfl.drop([13,51])
    cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
    cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\—", "", regex = True)
    cities_nfl = cities_nfl[(cities_nfl != '').all(axis=1)]       # drop empty rows
    cities_nfl['NFL'] = cities_nfl['NFL'].str.split().str[-1]     # only get the last word 
    
    nfl_df_2018 = nfl_df[['team', 'W', 'L', 'year']]
    nfl_df_2018 = nfl_df_2018[nfl_df_2018['year'] == 2018]
    nfl_df_2018 = nfl_df_2018.drop([0,5,10,15,20,25,30,35])

    nfl_df_2018['W'] = nfl_df_2018['W'].astype(int)
    nfl_df_2018['L'] = nfl_df_2018['L'].astype(int)
    nfl_df_2018['ratio'] = nfl_df_2018['W'] / (nfl_df_2018['W'] + nfl_df_2018['L'])

    nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
    nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\+", "", regex = True)      # remove + from column
    nfl_df_2018['team'] = nfl_df_2018['team'].str.split().str[-1]
    
    merge4 = pd.merge(cities_nfl, nfl_df_2018, how = 'outer', left_on="NFL",right_on="team")

    merge4.loc[29, 'Metropolitan area']= 'New York City'
    merge4.loc[30, 'Metropolitan area']= 'Los Angeles'
    merge4.loc[31, 'Metropolitan area']= 'San Francisco Bay Area'

    merge4.loc[29, 'MLB']= merge4.loc[29, 'team']
    merge4.loc[30, 'MLB']= merge4.loc[30, 'team']
    merge4.loc[31, 'MLB']= merge4.loc[31, 'team']

    merge4 = merge4.astype({'Metropolitan area': str, 'ratio': float})
    merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})

    return merge4
nfl_q5()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})

                           ratio
Metropolitan area
Atlanta                 0.437500
Baltimore               0.625000
Boston                  0.687500
Buffalo                 0.375000
Charlotte               0.437500
Chicago                 0.750000
Cincinnati              0.375000
Cleveland               0.466667
Dallas–Fort Worth       0.625000
Denver                  0.375000
Detroit                 0.375000
Green Bay               0.400000
Houston                 0.687500
Indianapolis            0.625000
Jacksonville            0.312500
Kansas City             0.750000
Los Angeles             0.781250
Miami–Fort Lauderdale   0.437500
Minneapolis–Saint Paul  0.533333
Nashville               0.562500
New Orleans             0.812500
New York City           0.281250
Philadelphia            0.562500
Phoenix                 0.187500
Pittsburgh              0.600000
San Francisco Bay Area  0.250000
Seattle                 0.625000
Tampa Bay Area          0.312500
Washington, D.C.        0.437500

In [40]:
merge_nfl_nba = pd.merge(nfl_q5(), nba_q5(), how = 'inner', left_on = "Metropolitan area", right_on = "Metropolitan area")
merge_nfl_nba

C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})

                         ratio_x   ratio_y
Metropolitan area
Atlanta                 0.437500  0.292683
Boston                  0.687500  0.670732
Charlotte               0.437500  0.439024
Chicago                 0.750000  0.329268
Cleveland               0.466667  0.609756
Dallas–Fort Worth       0.625000  0.292683
Denver                  0.375000  0.560976
Detroit                 0.375000  0.475610
Houston                 0.687500  0.792683
Indianapolis            0.625000  0.585366
Los Angeles             0.781250  0.469512
Miami–Fort Lauderdale   0.437500  0.536585
Minneapolis–Saint Paul  0.533333  0.573171
New Orleans             0.812500  0.585366
New York City           0.281250  0.347561
Philadelphia            0.562500  0.634146
Phoenix                 0.187500  0.256098
San Francisco Bay Area  0.250000  0.707317
Washington, D.C.        0.437500  0.524390

In [39]:
sports = ['NFL', 'NBA', 'NHL', 'MLB']
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
p_values

     NFL  NBA  NHL  MLB
NFL  NaN  NaN  NaN  NaN
NBA  NaN  NaN  NaN  NaN
NHL  NaN  NaN  NaN  NaN
MLB  NaN  NaN  NaN  NaN

In [42]:
def func(x):
    if x == 'NFL':
        return nfl_q5()
    elif x == 'NBA':
        return nba_q5()
    elif x == 'NHL':
        return nhl_q5()
    elif x == 'MLB':
        return mlb_q5()

for i in sports:
    for j in sports:
        if i !=j :
            q5_df=pd.merge(func(i),func(j), how = 'inner', left_on = "Metropolitan area", right_on = "Metropolitan area")
            p_values.loc[i, j]=stats.ttest_rel(q5_df['ratio_x'],q5_df['ratio_y'])[1]

C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\407266352.py:36: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\4183677291.py:32: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\2886231625.py:35: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\584446881.py:34: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})

In [43]:
p_values

          NFL       NBA       NHL       MLB
NFL       NaN  0.941792  0.030883  0.802069
NBA  0.941792       NaN  0.022297  0.950540
NHL  0.030883  0.022297       NaN  0.000708
MLB  0.802069  0.950540  0.000708       NaN

In [45]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
nhl_df=pd.read_csv("assets/nhl.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]

def sports_team_performance():
    # YOUR CODE HERE
    
    def nhl_q5():
        cities_nhl = cities[['Metropolitan area','NHL']]
        cities_nhl = cities_nhl[(cities_nhl != '—').all(axis=1)]     # drop those with —
        cities_nhl = cities_nhl.drop([51])

        cities_nhl['NHL'] = cities_nhl['NHL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
        cities_nhl = cities_nhl[(cities_nhl != '').all(axis=1)]       # drop empty rows
        cities_nhl['NHL'] = cities_nhl['NHL'].str.split().str[-1]     # only get the last word 

        nhl_df_2018 = nhl_df[['team', 'W', 'L', 'year']]
        nhl_df_2018 = nhl_df_2018[nhl_df_2018['year'] == 2018]
        nhl_df_2018 = nhl_df_2018.drop([0,9,18,26])

        nhl_df_2018['W'] = nhl_df_2018['W'].astype(int)
        nhl_df_2018['L'] = nhl_df_2018['L'].astype(int)

        nhl_df_2018['ratio'] = nhl_df_2018['W'] / (nhl_df_2018['W'] + nhl_df_2018['L'])

        nhl_df_2018['team'] = nhl_df_2018['team'].str.split().str[-1]
        nhl_df_2018['team'] = nhl_df_2018['team'].str.replace(r"\*", "", regex = True)

        merge1 = pd.merge(cities_nhl, nhl_df_2018, how = 'outer', left_on="NHL",right_on="team")

        merge1.loc[28, 'Metropolitan area']= 'New York City'
        merge1.loc[29, 'Metropolitan area']= 'New York City'
        merge1.loc[30, 'Metropolitan area']= 'Los Angeles'

        merge1.loc[28, 'NHL']= merge1.loc[28, 'team']
        merge1.loc[29, 'NHL']= merge1.loc[29, 'team']
        merge1.loc[30, 'NHL']= merge1.loc[30, 'team']


        merge1 = merge1.astype({'Metropolitan area': str, 'ratio': float})
        merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})

        return merge1
    
    def nba_q5():
        cities=pd.read_html("assets/wikipedia_data.html")[1]
        cities_nba = cities[['Metropolitan area','NBA']]
        cities_nba = cities_nba[(cities_nba != '—').all(axis=1)]     # drop those with —
        cities_nba = cities_nba.drop([51])

        cities_nba['NBA'] = cities_nba['NBA'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
        cities_nba = cities_nba[(cities_nba != '').all(axis=1)]       # drop empty rows
        cities_nba['NBA'] = cities_nba['NBA'].str.split().str[-1]     # only get the last word 

        nba_df=pd.read_csv("assets/nba.csv")
        nba_df_2018 = nba_df[['team', 'W', 'L', 'year']]
        nba_df_2018 = nba_df_2018[nba_df_2018['year'] == 2018]

        nba_df_2018['W'] = nba_df_2018['W'].astype(int)
        nba_df_2018['L'] = nba_df_2018['L'].astype(int)
        nba_df_2018['ratio'] = nba_df_2018['W'] / (nba_df_2018['W'] + nba_df_2018['L'])

        nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\(.*\)", "", regex = True)      # remove (number) from column
        nba_df_2018['team'] = nba_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
        nba_df_2018['team'] = nba_df_2018['team'].str.split().str[-1]

        merge2 = pd.merge(cities_nba, nba_df_2018, how = 'outer', left_on="NBA",right_on="team")

        merge2.loc[28, 'Metropolitan area']= 'New York City'
        merge2.loc[29, 'Metropolitan area']= 'Los Angeles'

        merge2.loc[28, 'NBA']= merge2.loc[28, 'team']
        merge2.loc[29, 'NBA']= merge2.loc[29, 'team']

        merge2 = merge2.astype({'Metropolitan area': str, 'ratio': float})
        merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
        
        return merge2

    def mlb_q5():
        cities_mlb = cities[['Metropolitan area','MLB']]
        cities_mlb = cities_mlb[(cities_mlb != '—').all(axis=1)]     # drop those with —
        cities_mlb = cities_mlb.drop([51])

        cities_mlb['MLB'] = cities_mlb['MLB'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
        cities_mlb['MLB'] = cities_mlb['MLB'].str.replace("\ Sox", "Sox", regex = True)
        cities_mlb = cities_mlb[(cities_mlb != '').all(axis=1)]       # drop empty rows
        cities_mlb['MLB'] = cities_mlb['MLB'].str.split().str[-1]     # only get the last word 

        mlb_df_2018 = mlb_df[['team', 'W', 'L', 'year']]
        mlb_df_2018 = mlb_df_2018[mlb_df_2018['year'] == 2018]

        mlb_df_2018['W'] = mlb_df_2018['W'].astype(int)
        mlb_df_2018['L'] = mlb_df_2018['L'].astype(int)

        mlb_df_2018['ratio'] = mlb_df_2018['W'] / (mlb_df_2018['W'] + mlb_df_2018['L'])
        mlb_df_2018['team'] = mlb_df_2018['team'].str.replace("\ Sox", "Sox", regex = True)
        mlb_df_2018['team'] = mlb_df_2018['team'].str.split().str[-1]

        merge3 = pd.merge(cities_mlb, mlb_df_2018, how = 'outer', left_on="MLB",right_on="team")

        merge3.loc[26, 'Metropolitan area']= 'New York City'
        merge3.loc[27, 'Metropolitan area']= 'Chicago'
        merge3.loc[28, 'Metropolitan area']= 'Los Angeles'
        merge3.loc[29, 'Metropolitan area']= 'San Francisco Bay Area'

        merge3.loc[26, 'MLB']= merge3.loc[26, 'team']
        merge3.loc[27, 'MLB']= merge3.loc[27, 'team']
        merge3.loc[28, 'MLB']= merge3.loc[28, 'team']
        merge3.loc[29, 'MLB']= merge3.loc[29, 'team']

        merge3 = merge3.astype({'Metropolitan area': str, 'ratio': float})

        merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
        return merge3
    
    def nfl_q5():
        cities_nfl = cities[['Metropolitan area','NFL']]
        cities_nfl = cities_nfl.drop([13,51])
        cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\[.*\]", "", regex = True)      # remove [note] text from column
        cities_nfl['NFL'] = cities_nfl['NFL'].str.replace(r"\—", "", regex = True)
        cities_nfl = cities_nfl[(cities_nfl != '').all(axis=1)]       # drop empty rows
        cities_nfl['NFL'] = cities_nfl['NFL'].str.split().str[-1]     # only get the last word 

        nfl_df_2018 = nfl_df[['team', 'W', 'L', 'year']]
        nfl_df_2018 = nfl_df_2018[nfl_df_2018['year'] == 2018]
        nfl_df_2018 = nfl_df_2018.drop([0,5,10,15,20,25,30,35])

        nfl_df_2018['W'] = nfl_df_2018['W'].astype(int)
        nfl_df_2018['L'] = nfl_df_2018['L'].astype(int)
        nfl_df_2018['ratio'] = nfl_df_2018['W'] / (nfl_df_2018['W'] + nfl_df_2018['L'])

        nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\*", "", regex = True)      # remove * from column
        nfl_df_2018['team'] = nfl_df_2018['team'].str.replace(r"\+", "", regex = True)      # remove + from column
        nfl_df_2018['team'] = nfl_df_2018['team'].str.split().str[-1]

        merge4 = pd.merge(cities_nfl, nfl_df_2018, how = 'outer', left_on="NFL",right_on="team")

        merge4.loc[29, 'Metropolitan area']= 'New York City'
        merge4.loc[30, 'Metropolitan area']= 'Los Angeles'
        merge4.loc[31, 'Metropolitan area']= 'San Francisco Bay Area'

        merge4.loc[29, 'MLB']= merge4.loc[29, 'team']
        merge4.loc[30, 'MLB']= merge4.loc[30, 'team']
        merge4.loc[31, 'MLB']= merge4.loc[31, 'team']

        merge4 = merge4.astype({'Metropolitan area': str, 'ratio': float})
        merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})

        return merge4
    
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
    
    def func(x):
        if x == 'NFL':
            return nfl_q5()
        elif x == 'NBA':
            return nba_q5()
        elif x == 'NHL':
            return nhl_q5()
        elif x == 'MLB':
            return mlb_q5()

    for i in sports:
        for j in sports:
            if i !=j :
                q5_df=pd.merge(func(i),func(j), how = 'inner', left_on = "Metropolitan area", right_on = "Metropolitan area")
                p_values.loc[i, j]=stats.ttest_rel(q5_df['ratio_x'],q5_df['ratio_y'])[1]
            
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    
    return p_values

In [46]:
sports_team_performance()

C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:155: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:83: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:155: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:48: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:155: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:121: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:83: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:155: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:83: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:48: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:83: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:121: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:48: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:155: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:48: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:83: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:48: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:121: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:121: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:155: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge4 = merge4.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:121: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:83: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge2 = merge2.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:121: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge3 = merge3.groupby('Metropolitan area').agg({'ratio': np.mean})
C:\Users\User\AppData\Local\Temp\ipykernel_19988\1606255002.py:48: FutureWarning: The provided callable <function mean at 0x0000026BF6DE2700> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  merge1 = merge1.groupby('Metropolitan area').agg({'ratio': np.mean})

          NFL       NBA       NHL       MLB
NFL       NaN  0.941792  0.030883  0.802069
NBA  0.941792       NaN  0.022297  0.950540
NHL  0.030883  0.022297       NaN  0.000708
MLB  0.802069  0.950540  0.000708       NaN